src/main/webapp/WEB-INF/resources/catalog.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="CATALOG" type="CATALOGType"/>
    <xs:complexType name="CATALOGType">
        <xs:sequence>
            <xs:element type="CDType" name="CD" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CDType">
        <xs:sequence>
            <xs:element type="xs:string" name="TITLE"/>
            <xs:element type="xs:string" name="ARTIST"/>
            <xs:element type="xs:string" name="COUNTRY"/>
            <xs:element type="xs:string" name="COMPANY"/>
            <xs:element type="xs:decimal" name="PRICE"/>
            <xs:element type="xs:integer" name="YEAR"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>